<head>
  <style>
    .main_body {
      color: white;
      font-size: 35px;
      height: 50%;
      width: 50%;
      /* margin: auto; */
      background-color: black;
      position: absolute;
      left: 35%;
      top: 35%;
      margin-left: -10px;
      /* -1/2 width */
      margin-top: -10px;
      /* -1/2 height */
    }
  </style>
</head>
<body style="background-color: black">
  <div class="main_body">
    <p>Do you want to delete "{{item}}"?</p>

    <div>
      <form style="height: 2.5%" method="POST" action="">
        {% csrf_token %}
        <button style="background-color: red;border-width: 5px;border-color: white">Delete</button>
      </form>
      <button style="background-color: rgb(5, 253, 100);border-width: 5px;border-color: white">
        <a href="{% url 'list' %}">Cancel</a>
      </button>
    </div>
  </div>
</body>
